/* ELEMENTOS HTML*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
/* SECCIONES HTML PRINCIPALES*/
html {
	font-family: "Times New Roman", Times, serif;
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	color: gainsboro;
	margin: 0 auto;
	max-width: 1000px;
	padding-top: 50px;
	height: 100%;
	/* background-color: cornflowerblue; */
}
fieldset {
	border-color: #dfcc74;
}
footer {
	text-align: center;
	font-size: 0.7em;
	bottom: 50px;
	margin-top: 50px;
	color: #75485e;
	opacity: 0.6;
	/* background-color: darkorchid; */
}
h1 {
	color: #75485e;
}
header {
	width: 100%;
	height: 50px;
	text-align: center;
	/* background-color: #f05ab1;  */
	margin-bottom: 20px;
	color: #dfcc74;
}

nav {
	border-bottom: 2px aqua solid;
}
legend {
	text-align: center;
	margin: 15px 0 5px 0;
}

li {
	list-style: none;
}
section {
	place-content: center;
	max-width: 300px;
	padding: 20px;
	border: 2px solid aqua;
	box-shadow: 1px 1px 10px 1px #000000;
	border-radius: 15px;

	color: #75485e;
	background-color: rgba(202, 168, 245, 0.5);
}
footer {
	text-align: center;
	font-size: 0.7em;
	bottom: 50px;
	margin-top: 50px;
	color: #75485e;
	opacity: 0.6;
	/* background-color: darkorchid; */
}
spam {
	color: blue;
}
#botones {
	display: flex;
	justify-content: space-around;
	margin: 20px 0 20px 0;
}
#formulario {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 20px 0 20px 0;
}

#misActividades {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border: aqua 2px solid;
	border-radius: 15px;
	box-shadow:1px 1px 10px 1px #000000; ;
}

#misActividadesCreadas {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	justify-content: center;
	/* border: #e00f0f 2px solid; */
	margin-bottom: 10px;
	padding: 20px;
}

img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
}
/* CLASES */

.datosUsuario {
	text-align: left;
}

.encabezadoActividades {
	text-align: center;
	margin: 30px auto;
	width: 100%;
	color: #75485e;
	/* border-bottom: 2px solid aqua; */
}

.imgs {
	width: auto;
	height: 100px;
	margin: 0 auto;
}
.info {
	/* margin-left: 200px; */
	border: 2px solid;
	border-radius: 15px;
	color: #75485e;
	font-size: 1em;
	margin: 30px;
	box-shadow: 1px 1px 10px 1px #000000;
	/* background-color: #dfcc74; */
	padding: 20px;
	text-align: justify;
}
.inputLog {
	width: 100%;
}

.logIn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	width: 50%;
	margin: auto auto auto auto;
	border: 3px solid #e9e9e9;
	border-radius: 15px;
	padding: 50px;
	background-color: #e9e9e9;
	box-shadow: 1px 1px 10px 1px #e9e9e9;
}

.salir a {
	text-decoration: none;
}
.sinBorde {
	border: none;
	border-bottom: 2px solid #e9e9e9;
	background-color: #f05ab1;
	outline: none;
	text-align: center;
}

.sinBorde::placeholder {
	color: beige;
}
.users {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 45px;
	width: 100%;
	/* background-color: brown; */
	text-align: right;
	color: #75485e;
	font-weight: bold;
	margin: 40px auto;
	margin-bottom: 30px;
}

.users a:hover {
	color: aqua;
}

/* ESTAN EN FORMULARIO */
.boton {
	margin-top: 10px;
	border-radius: 5px;
	border-color: #333333;
	background-color: #333333;
	color: #e9e9e9;
	font-size: 0.8em;
}

.boton:hover {
	background-color: #e9e9e9;
	border-color: #e9e9e9;
	color: #333333;
}
.botonera {
	display: flex;
	justify-content: space-around;
	margin-bottom: 5px;
}

.datos {
	margin: 0 10px;
	padding: 20px 15px;
}
.negrita {
	font-weight: bold;
}
.precios {
	border: none;
	margin: 10px 5px;
	padding-top: 5px;
}
.required {
	color: #75485e;
}
